*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 20px;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins';
}

@media screen and (min-width:1024px){
    nav {
        background-color: #fff !important;
        height: 100px;
    }
    
    #search{
        padding-left: 5% !important;
        background-color: #fff;
        width: 80vw;
        margin: 5% 10%;
        padding: 1%;
        border: none;
        border-radius: 35px;
        box-shadow: 0px 1px 5px 0px #DCF3E4;
    }
    
    h3{
        text-align: center;
    }
    
    .row{
        width: 80%;
        margin: 2% 10% 5%;
    }
    
    .col{
        width: 33%;
        border: 1px solid  #DCF3E4;
        padding: 0;
        margin: 0 1%;
        box-shadow: 3px 3px 5px 0px #c5c5c561;
        background-color: #fff;
        border-radius: 5px;
    }
    .flux{
        display: flex;
        flex-direction: column;
    
    }
    
    .a{
        padding: 5%;
        margin: auto;
        align-self: center;
    }
    
    .b{
        background-color: #DCF3E4;
        padding: 5%;
        margin: 0;
    }
    
    .b span{
        color: #46B069;
        font-weight: 600;
    }
    
    .b div{
        margin-top: 5%;
    }
    
    .b h4{
        font-size: 20px;
    }
    
    .b p{
        font-size: 16px;
    }
    
    #hr{
        width: 100vw;
        height: 2px !important;
        color: #198754;
        background-color: #46B069;
        margin: 2rem 0 0 !important;
    }

    .product{
        padding: 5% 8%;
        border: 1px solid  #DCF3E4;
        border-radius: 5px;
        box-shadow: 3px 3px 5px 0px #c5c5c561;
        background-color: #fff;
        width: 80%;
        margin: auto;
    }

    .alo{
        text-align: left;
        width: 50%;
    }

    .o{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-right: 2%;
    }

    .l{
        padding-top: 7%;
    }

    .img{
        width: 45%;
    }

    .black{
        color: #000;
        font-weight: 700;
    }

    
    
}


@media screen and (min-width:801px) and (max-width: 1023px)  {
    nav {
        background-color: #fff !important;
        height: 100px;
    }
    
    #search{
        padding-left: 5% !important;
        background-color: #fff;
        width: 80vw;
        margin: 5% 10%;
        padding: 1%;
        border: none;
        border-radius: 35px;
        box-shadow: 0px 1px 5px 0px #DCF3E4;
    }
    
    h3{
        text-align: center;
    }
    
    .row{
        width: 80%;
        margin: 2% 10% 5%;
    }
    
    .col{
        width: 33%;
        border: 1px solid  #DCF3E4;
        padding: 0;
        margin: 0 1%;
        box-shadow: 3px 3px 5px 0px #c5c5c561;
        background-color: #fff;
        border-radius: 5px;
    }
    .flux{
        display: flex;
        flex-direction: column;
    
    }
    
    .a{
        padding: 5%;
        margin: auto;
        align-self: center;
    }
    
    .b{
        background-color: #DCF3E4;
        padding: 5%;
        margin: 0;
    }
    
    .b span{
        color: #46B069;
        font-weight: 600;
    }
    
    .b div{
        margin-top: 5%;
    }
    
    .b h4{
        font-size: 20px;
    }
    
    .b p{
        font-size: 16px;
    }
    
    #hr{
        width: 100vw;
        height: 2px !important;
        color: #198754;
        background-color: #46B069;
        margin: 2rem 0 0 !important;
    }
    
}

@media screen and (max-width: 800px){
    nav {
        background-color: #fff !important;
        height: 100px;
    }
    
    #search{
        padding-left: 5% !important;
        background-color: #fff;
        width: 80vw;
        margin: 5% 10%;
        padding: 1%;
        border: none;
        border-radius: 35px;
        box-shadow: 0px 1px 5px 0px #DCF3E4;
    }
    
    h3{
        text-align: center;
    }
    
    .row{
        width: 80%;
        margin: 2% 10% 5%;
    }
    
    .col{
        width: 33%;
        border: 1px solid  #DCF3E4;
        padding: 0;
        margin: 0 1%;
        box-shadow: 3px 3px 5px 0px #c5c5c561;
        background-color: #fff;
        border-radius: 5px;
    }
    .flux{
        display: flex;
        flex-direction: column;
    
    }
    
    .a{
        padding: 5%;
        margin: auto;
        align-self: center;
    }
    
    .b{
        background-color: #DCF3E4;
        padding: 5%;
        margin: 0;
    }
    
    .b span{
        color: #46B069;
        font-weight: 600;
    }
    
    .b div{
        margin-top: 5%;
    }
    
    .b h4{
        font-size: 20px;
    }
    
    .b p{
        font-size: 16px;
    }
    
    #hr{
        width: 100vw;
        height: 2px !important;
        color: #198754;
        background-color: #46B069;
        margin: 2rem 0 0 !important;
    }
}